$color-primary:#fff;
$heading-color:#181818;
$text-primary:#181818cc;
$icons-color:#5079f7;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
